h2 {
  margin-right: 20px;
}

li {
  padding: 5px;
  margin: 5px;
  background: #b6a793;
}

button {
  color: rgb(233, 231, 231);
  background-color: rgb(51, 30, 3);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(238, 228, 209);
}

.label {
  font-weight: bold;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.create-form {
  padding: 5px;
  margin: 5px;
}